target/
src/main/resources/test/test_experiment_brightfield/border_rois/
src/main/resources/test/test_experiment_fluorescence/border_rois/
src/main/resources/test/test_experiment_psr/border_rois/
src/main/resources/test/test_experiment_cn/border_rois/
fiber_type_masks/
figures/
masks/
run_configuration/
cellpose_rois/
results/
.DS_Store
.classpath
.pydevproject
.project
.settings
